#ljlogin-status[class~="loading"] {
  color: red;
}

#ljlogin-status[class~="loaded"] {
  color: green;
}

menuitem[class~="ljuser"],
#ljlogin-status[class~="ljuser"] #ljlogin {
  font-style: normal;
  font-weight: bold;
  color: blue;
}

#ljlogin-status[class~="ljuser"] #ljlogin {
  background: transparent url(chrome://ljlogin/content/userinfo.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 17px;
}

#ljlogin-status[class~="loggedout"] #ljlogin {
  color: black;
  font-style: italic;
  background: transparent url(chrome://ljlogin/content/anonymous.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 17px;
}

#ljlogin-status[class~="unknown"] #ljlogin {
  color: yellow;
  font-style: italic;
  background: transparent url(chrome://ljlogin/content/whoareyou.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 17px;
}
