/* Classes for the non-site widget */
#ljlogin-status[class~="loading"] {
  color: red;
}

#ljlogin-status[class~="loaded"] {
  font-style: normal;
  font-weight: bold;
  color: #0000CC;
  text-decoration: underline;
}

/* ===== Per-Site Status Widgets ===== */

/* === Common === */

#ljlogin-ij-status[class~="loggedout"],
#ljlogin-dj-status[class~="loggedout"],
#ljlogin-gj-status[class~="loggedout"],
#ljlogin-jf-status[class~="loggedout"],
#ljlogin-scribbld-status[class~="loggedout"],
#ljlogin-dreamwidth-status[class~="loggedout"],
#ljlogin-inksome-status[class~="loggedout"],
#ljlogin-lj-status[class~="loggedout"]
{
  color: black;
  font-style: italic;
}

#ljlogin-ij-status[class~="unknown"],
#ljlogin-dj-status[class~="unknown"],
#ljlogin-gj-status[class~="unknown"],
#ljlogin-jf-status[class~="unknown"],
#ljlogin-scribbld-status[class~="unknown"],
#ljlogin-dreamwidth-status[class~="unknown"],
#ljlogin-inksome-status[class~="unknown"],
#ljlogin-lj-status[class~="unknown"]
{
  color: red;
  font-style: italic;
}

/* LiveJournal */

#ljlogin-lj-menu menuitem[class~="ljuser"],
#ljlogin-lj-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #0000CC;
  text-decoration: underline;
}

/* InsaneJournal */

#ljlogin-ij-menu menuitem[class~="ljuser"],
#ljlogin-ij-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #222222;
  text-decoration: underline;
}

/* DeadJournal */

#ljlogin-dj-menu menuitem[class~="ljuser"],
#ljlogin-dj-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #160066;
  text-decoration: underline;
}

/* GreatestJournal */

#ljlogin-gj-menu menuitem[class~="ljuser"],
#ljlogin-gj-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #000066;
  text-decoration: underline;
}

/* JournalFen */

#ljlogin-jf-menu menuitem[class~="ljuser"],
#ljlogin-jf-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #0000C0;
  text-decoration: underline;
}

/* Scribbld */

#ljlogin-scribbld-menu menuitem[class~="ljuser"],
#ljlogin-scribbld-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #0000C0;
  text-decoration: underline;
}

/* Dreamwidth */

#ljlogin-dreamwidth-menu menuitem[class~="ljuser"],
#ljlogin-dreamwidth-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #C1272D;
  text-decoration: underline;
}

/* Inksome */

#ljlogin-inksome-menu menuitem[class~="ljuser"],
#ljlogin-inksome-status[class~="ljuser"] {
  font-style: normal;
  font-weight: bold;
  color: #2B97A1;
  text-decoration: underline;
}


